.add-to-cart {
  width: 70%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
  opacity: 0;
  transition: bottom 0.3s ease, opacity 0.3s ease;
}

.container:hover .add-to-cart {
  bottom: 5%;
  opacity: 1;
}

.add-to-cart:hover {
  opacity: 0.7;
}
